<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<font size="+2" face="arial">
<h3>Data Privacy Policy &amp; Terms of use</h3><br><br>

<h3>Data Privacy Policy</h3><br><br>

We take the protection of your personal information very seriously and treat personal information that you give us via a contact form or by email, confidential and in accordance with the legal data protection regulations as well as this privacy policy. Data consists of personal information (name, address, email, phone number, etc.) , if it can be clearly assigned to a specific person. The legal basis of data protection can be found in the Federal Data Protection Act (BDSG) and the Telemedia Act (TMG). The following provisions inform you about the extent of the nature, scope and purpose of the collection, use and processing of personal data by the Provider<br><br>

Omekron Computer GmbH<br>
Schulze Delitzsch Straße 7<br>
30938 Burgwedel<br>
Germany<br>
Represented by:<br>
Frank Engelhard – CEO<br>
E-Mail: info@passaufapp.de<br><br>

We collect and process personal data only to the extent necessary for the establishment and content or modification of the contractual relationship (inventory data). We do not collect personal data about the use of our websites (usage data).<br>
Please note that Internet-based communication has vulnerabilities, a complete protection against access by third parties is impossible.
This Data Privacy Policy applies to the App "passauf" as well as its companion website www.passaufapp.de.<br><br>

What data is collected?<br>
We need access to the location of your device. In an inquiry we collect upon your request your current location via GPS. By storing the GPS location, a message can be triggered as soon as possible. However, you have the option to manually enter a location for a potential threat message. The locations of the respective messages are saved to view them on the overview map. Data about your personal location will only be used for processing your message. The transfer of your location data is made via an encrypted connection. Your location data will be made anonymous after the end of your message.<br><br>

For the purpose of registration the app requires the following information:<br>
⁃	Name<br>
⁃	Email address<br>
⁃	User name and password<br><br>

To use the category "Theft", on request with an uploaded photo of the stolen object, the photo is only saved until the deletion of the message.<br><br>

The user has the option to use the contact form in this category (theft). Through this contact form, the user is informed at his own request by e- mail if e.g. the stolen property has been sighted. On request of the user who has reported the incident contact via e-mail can be established, subject to mutual agreement in writing.<br><br>

How long will your data be stored?<br><br>

The radius addresses entered by the users themselves are deleted after respective change in the radius - address data, or within 90 days upon termination of the membership.<br><br>

Name , email address, user name and the corresponding password will remain in the active pro version as long as the membership exists. After termination of the membership, the data will be deleted within 90 days.<br><br>

In the base version of the app the data remains saved until the deletion of the entire app.<br><br>

Server data<br><br>

For technical reasons, , the following data, inter alia, will be submitted to us by  internet browser our your internet provider :<br>

⁃	Browser type and version<br>
⁃	Operating system<br>
⁃	Website from which you visit us (referral URL)<br>
⁃	Website you are visiting<br>
⁃	Date and time of your access<br>
⁃	Your IP address<br><br>

This anonymous data is stored separately from any personal data you may provide and can thus not be used draw conclusions about a particular person.<br><br>


Registry function:<br>
We offer you the opportunity to register yourself on our side. The data entered in the course of this registration, which can be seen in the appropriate input box of the registration form, in this case, name, email, username and password are collected and stored exclusively for the use of our product. By registering on our site, we will also save your IP address and the date and time of your registration. This is in the event that a third party has misused your data and registers with this information without your knowledge on our side, as a protection on our part. There is no disclosure of any data to third parties. A comparison of the data collected with data that may be collected by other components of our site does also not take place.<br><br>

Contact<br>
We offer you the possibility to contact us by e -mail and / or via a contact form on our site. In this case, the information provided by the user is stored for the purpose of dealing with his request. There is no disclosure of any data to third parties. A comparison of the data collected with data that may be collected by other components of our site does also not take place.<br><br>

Commentary function<br>
We provide the opportunity to leave comments on individual contributions on our side. Here, the IP address of the author / owner connection is saved. This storage is done to our security in the event that action is taken against us in case by the author through his comments interferes with third-party rights and / or unlawful content can be discontinued. Thus, there is an interest on our part in the stored data of the author, especially since we may be subject to prosecution under certain circumstances due to such infringements. There is no disclosure of any data to third parties. A comparison of the data collected with data that may be collected by other components of our site does also not take place.<br><br>

Inclusion of services and content of third parties<br>
It can happen within this online service linked content from other websites such as YouTube videos, maps from Google Maps , RSS feeds or graphics may be embedded. This always requires that the provider of such content (hereinafter referred to as "third-party ") perceive the IP address of the user. Without the IP address, they could not send the content to the browser of each user. The IP address is thus necessary for the presentation of that content. We just strive to only use such content, where their respective providers are using the IP address only for the delivery of content. However, we have no control if the third-party provider stores data such as the IP address e.g. for statistical purposes. Insofar as is known to us, we inform the users about it such cases.<br><br>


Option to provide photographic material in the “Theft” section<br><br>

The User warrants that no copyright, trademark or other rights of third parties are infringed by the storing and sharing his content. All resulting consequences from any infringement of such rights by the image files shall be borne solely by the user and indemnifies Omekron Computer GmbH from claims by third parties. The stored image material is solely for the purpose of concretely represent a possible object to facilitate the discovery. The photos uploaded by the user can be removed by deleting the message, and will be deleted after termination of the membership within 90 days.<br><br>


Information / revocation / cancellation<br>

You can contact us free of charge on the basis of the Federal Data Protection Act when questions regarding the collection, processing or use of your personal data and rectification, blocking, erasure or a revocation of consent given. We remind you that you are entitled to a right to correct incorrect data or deletion of personal data, unless any legal obligation to retain the data precludes such deletion or correction.<br><br><br>



<h3>Terms of use</h3><br><br>

Provider of the "passauf" app is Omekron Computer GmbH .<br><br>

Use of the app requires that you agree to the following Terms of Use. Please read these with due care.<br><br>

Subject of the app:<br>
"Passauf" deals with the reporting of potential hazards in different areas at the appropriate location of the user. The aim is to inform and to warn other users of this app.<br>
Users of the base version can only report potential hazards. The usage of the base version is free of charge.<br><br>

"Passauf" further provides a fee version . As a pro user other areas such as overview of messages , profile management , setting of up to five addresses with a maximum radius of 10km are possible . Within the radius the set by the user he receives potential threat messages via push notifications onto his smartphone. He may choose specifically what kind of potential dangers he would like to be informed about, or whether he generally does not want to receive any push notifications.<br>
The goal of "passauf" is to reinforce the sensitivity and attention of users and thus to get a hazard-prevention , and that other users are warned of any potential hazards.<br><br>

Generals regarding the use of the app<br>
The app and its functions must not be used in an abusive manner. Please use the app only as permitted by law and in accordance with the terms of use. In violation of applicable law or the terms of use Omekron Computer GmbH reserves the right to exclude the user from using the app.<br><br>

It is expressly pointed out that within the messages no personal information, no illegal, right-wing, defamatory, discrediting or otherwise in any manner for personal- and business statements / comments may made. Likewise, it is pointed out that no pornographic, pedophilic, etc. comments must be made.<br><br>

Finally, we point out that alerts submitted with this app are only in respect of potential threats. Notifying a threat via this app does not replace your obligations to call authorities such as police or fire departments. Please notify these public authorities immediately in case of an actual danger!<br><br>

Registration<br>
The registration is free of charge. The registration takes place in the "passauf" app .<br>
For registration a valid e-mail - address, and a username and password are required.<br><br>

To download the app in the respective app store, the user needs only his personal store data.<br>
The Pro version of the app will be offered directly in the respective store and can be purchased only directly in the store.<br><br>

System requirements<br>
To use "passauf" in full, the user must have a GPS enabled smartphone and a corresponding data connection. The costs are borne by the user.<br><br>

License and assignment<br>
The "passauf" app is exclusively licensed to the user but not sold to him. Copying the functionality of "passauf" is strictly prohibited.<br><br>

Use of Pictures / photos<br>

The user warrants that he uses the function of photo uploads only in accordance with applicable local law.<br>

This means specifically:<br>
- The user is not authorized to upload copyright protected content he has not created himself or to which he has no exclusive right of use.<br>
- The user warrants that the content he provides for uploading is free of rights of third persons (copyright, trademark rights, personal rights, etc.,) or the user there holds an exclusive license / permission from the third party, or has obtained permission of the rightholder for uploading.<br>
- The user is not authorized to upload illegal, in particular punishable, pornographic, defamatory or personality infringing content. This also applies to malicious content such as viruses , trojans , etc. This functions is only available in the “Theft” area.<br><br>

Warranty and liability<br>

The Omekron Computer GmbH makes no warranties regarding the availability, reliability, functionality or fitness of the app for your purposes. There is no guarantee or warranty that this app lossless, free from corruption, attack, viruses, interference or other security breaches, and does not assume any responsibility. The user himself is responsible for backups on his device.<br><br>

Liability for intent and gross negligence is determined solely by statutory provisions. Liability for negligence is only accepted if the Omekron Computer GmbH has violated cardinal obligations.<br><br>

The Omekron Computer GmbH reserves the right to discontinue the service of " passauf " app temporarily or permanently. Likewise, the Omekron Computer GmbH reserves the right to modify and adapt the Terms of Use. The user will be informed in an appropriate manner about this.
</font>
