<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<font size="+3" face="arial" color="white">
<h3>Data Privacy Policy</h3><br><br>

We take the protection of your personal information very seriously and treat personal information that you give us via a contact form or by email, confidential and in accordance with the legal data protection regulations as well as this privacy policy. Data consists of personal information (name, address, email, phone number, etc.) , if it can be clearly assigned to a specific person. The legal basis of data protection can be found in the Federal Data Protection Act (BDSG) and the Telemedia Act (TMG). The following provisions inform you about the extent of the nature, scope and purpose of the collection, use and processing of personal data by the Provider<br><br>

Omekron Computer GmbH<br>
Schulze Delitzsch Straße 7<br>
30938 Burgwedel<br>
Germany<br>
Represented by:<br>
Frank Engelhard – CEO<br>
E-Mail: info@passaufapp.de<br><br>

We collect and process personal data only to the extent necessary for the establishment and content or modification of the contractual relationship (inventory data). We do not collect personal data about the use of our websites (usage data).<br>
Please note that Internet-based communication has vulnerabilities, a complete protection against access by third parties is impossible.
This Data Privacy Policy applies to the App "passauf" as well as its companion website www.passaufapp.de.<br><br>

What data is collected?<br>
We need access to the location of your device. In an inquiry we collect upon your request your current location via GPS. By storing the GPS location, a message can be triggered as soon as possible. However, you have the option to manually enter a location for a potential threat message. The locations of the respective messages are saved to view them on the overview map. Data about your personal location will only be used for processing your message. The transfer of your location data is made via an encrypted connection. Your location data will be made anonymous after the end of your message.<br><br>

For the purpose of registration the app requires the following information:<br>
⁃	Name<br>
⁃	Email address<br>
⁃	User name and password<br><br>

To use the category "Theft", on request with an uploaded photo of the stolen object, the photo is only saved until the deletion of the message.<br><br>

The user has the option to use the contact form in this category (theft). Through this contact form, the user is informed at his own request by e- mail if e.g. the stolen property has been sighted. On request of the user who has reported the incident contact via e-mail can be established, subject to mutual agreement in writing.<br><br>

How long will your data be stored?<br><br>

The radius addresses entered by the users themselves are deleted after respective change in the radius - address data, or within 90 days upon termination of the membership.<br><br>

Name , email address, user name and the corresponding password will remain in the active pro version as long as the membership exists. After termination of the membership, the data will be deleted within 90 days.<br><br>

In the base version of the app the data remains saved until the deletion of the entire app.<br><br>

Server data<br><br>

For technical reasons, , the following data, inter alia, will be submitted to us by  internet browser our your internet provider :<br>

⁃	Browser type and version<br>
⁃	Operating system<br>
⁃	Website from which you visit us (referral URL)<br>
⁃	Website you are visiting<br>
⁃	Date and time of your access<br>
⁃	Your IP address<br><br>

This anonymous data is stored separately from any personal data you may provide and can thus not be used draw conclusions about a particular person.<br><br>


Registry function:<br>
We offer you the opportunity to register yourself on our side. The data entered in the course of this registration, which can be seen in the appropriate input box of the registration form, in this case, name, email, username and password are collected and stored exclusively for the use of our product. By registering on our site, we will also save your IP address and the date and time of your registration. This is in the event that a third party has misused your data and registers with this information without your knowledge on our side, as a protection on our part. There is no disclosure of any data to third parties. A comparison of the data collected with data that may be collected by other components of our site does also not take place.<br><br>

Contact<br>
We offer you the possibility to contact us by e -mail and / or via a contact form on our site. In this case, the information provided by the user is stored for the purpose of dealing with his request. There is no disclosure of any data to third parties. A comparison of the data collected with data that may be collected by other components of our site does also not take place.<br><br>

Commentary function<br>
We provide the opportunity to leave comments on individual contributions on our side. Here, the IP address of the author / owner connection is saved. This storage is done to our security in the event that action is taken against us in case by the author through his comments interferes with third-party rights and / or unlawful content can be discontinued. Thus, there is an interest on our part in the stored data of the author, especially since we may be subject to prosecution under certain circumstances due to such infringements. There is no disclosure of any data to third parties. A comparison of the data collected with data that may be collected by other components of our site does also not take place.<br><br>

Inclusion of services and content of third parties<br>
It can happen within this online service linked content from other websites such as YouTube videos, maps from Google Maps , RSS feeds or graphics may be embedded. This always requires that the provider of such content (hereinafter referred to as "third-party ") perceive the IP address of the user. Without the IP address, they could not send the content to the browser of each user. The IP address is thus necessary for the presentation of that content. We just strive to only use such content, where their respective providers are using the IP address only for the delivery of content. However, we have no control if the third-party provider stores data such as the IP address e.g. for statistical purposes. Insofar as is known to us, we inform the users about it such cases.<br><br>


Option to provide photographic material in the “Theft” section<br><br>

The User warrants that no copyright, trademark or other rights of third parties are infringed by the storing and sharing his content. All resulting consequences from any infringement of such rights by the image files shall be borne solely by the user and indemnifies Omekron Computer GmbH from claims by third parties. The stored image material is solely for the purpose of concretely represent a possible object to facilitate the discovery. The photos uploaded by the user can be removed by deleting the message, and will be deleted after termination of the membership within 90 days.<br><br>


Information / revocation / cancellation<br>

You can contact us free of charge on the basis of the Federal Data Protection Act when questions regarding the collection, processing or use of your personal data and rectification, blocking, erasure or a revocation of consent given. We remind you that you are entitled to a right to correct incorrect data or deletion of personal data, unless any legal obligation to retain the data precludes such deletion or correction.
</font>
