<font size="+3" face="arial" color="white">
<p><strong>Help</strong></p>
<p><strong>What can be reported?</strong></p>

<p>1.	You notice a suspicious person or group?</p>
<p>Human beings notice different features. Things one user considers normal may be seen as conspicuous by another user. A suspect person or group may for example appear lurching, under the influence or bedraggled. Same is true for several people who gather at a place where one not expect them. If in this case it is a group of adolescents on a playground or group of people at night in an open air swimming pool is within the discretion of the user. We are only presenting some examples here.</p>

<p>2.	You notice a suspicious vehicle?</p>
<p>A vehicle that one user may find suspicious may have an out of town license plate, might be heavily smutched or dented so that attracts attention. Maybe this vehicle is driving up and down the same road for the tenth time. The conclusion is, it appears suspicious.</p>

<p>3.	Alert “Child”</p>
<p>In this case the alert message should be sent when a child is contacted or a photograph is taken of him by a presumed stranger. The app shall serve to establish contact with the own and other children to avoid potential dangers. It is not the idea to speculate.</p>

<p>4.	Alert “Theft”</p>
<p>Imagine you are at a fair, recreational lake, concert, movie theatre. You notice that one person is taking the bag of another, picking of the bag of another person, manipulating a bicycle lock or conducts other unlawful appropriation.</p>

<p>5.	Alert “Animal in danger”</p>
<p>You notice that a dog owner acts very aggressively with his pet, a cat sits meowing on a tree for several days or an animal appears neglected. Or you notice a pet in a car at very high temperatures? All situations that in your eyes constitute a situation where there is threat to life or physical condition of an animal warrant an alert.</p>

<p>6.	Alert “Burglary”</p>
<p>You notice that a person or group obtain unlawful admittance to premises, or buildings or tries to get access to objects in a vehicle.</p>

<p>7.	Alert “Arguments”</p>
<p>You notice a vociferous argument where you cannot assess the potential of physical violence? In this case you should use this type of alert.</p>

<p>8.	Alert “Pollution”</p>
<p>You become witness of unlawful dumping of garbage? Or you take a walk in the park and notice debris alongside the path? We only have one world and you should appreciate it! In these examples the specific danger depends on the materials that have been dumped. Toxic chemicals may also fall in this group. At the next family excursion a child might be exposed to the dumping and might become intoxicated.</p>

<p>9.	Alert “Fire”</p>
<p>No matter if fire in a house, to a vehicle or on a field, fires can be life threatening for human beings and animals. It does not even have to be the fire as such, toxic fumes may be sufficient. By sending a fire alert you can warn others to avoid a certain areas or to keep windows and doors closed.</p>

<p>10.	Alert “Lost items”</p>
<p>It may certainly happen that you have lost something. Under this category you can report an incident that describes your lost property. Other users may report found property.</p>

<p>11.	Alert  “Other”</p>
<p>As already mentioned, people evaluate situations differently. What appears perfectly normal to one user may appear threating for another. In this category you can report threats that do not fall in categories 1-10 above. Nothing is impossible, as live has taught us.</p>

<p>We would like to strongly emphasize that within the alerts no personal information about individuals, no unlawful, political extreme defaming or otherwise personally or commercially harmful comments must be made. We also point out that no pornographic, pedophiliac or similar comments must be made.</p>
<p>Finally we point out that alerts submitted with this app are only in respect of potential threats. Notifying a threat via this app does not replace your obligations to call authorities such as police or fire departments. Please notify these public authorities immediately in case of an actual danger!</p>

<p>App Area “Messages”</p>

<p>Here you find the reporting functionality in which the menu for selecting individual alerts will open after establishment of your exact position. Note: No messages can be received when the app is inactive. In addition to the messages you will find in the sections for “Theft” and “Lost” alerts the option to report property as found to notify the initial messenger.</p>

<p>App Area “Settings”</p>

<p>The user can enter up to five addresses within a 10 km radius. The summary section will show the alerts notified by the user.</p>

<p>App Area “Map”</p>

<p>In the map area of “passauf” a map will open. Here you can see what threats have been reported. The user can switch between satellite and standard view.</p>
</font>
