<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<font size="+3" face="arial" color="white">
<h3>Imprint</h3><br><br>

According to § 5 TMG:<br><br>

Omekron Computer GmbH<br>
Schulze Delitzsch Straße 7<br>
30938 Burgwedel<br><br>

Represented by<br>
Frank Engelhard CEO<br><br>

Contact:<br>
Phone: 004951399529018<br>
Fax:  004951399529198<br>
E-Mail: info@omekron.de<br><br>

Register entry:<br>
Trade Register<br>
Register court: District Court Hannover/Germany<br>
Registry number: HRB 210807<br><br>

Sales tax ID:<br>
Sales tax identification number according to § 27a<br>
Value Added Tax Act<br>
DE293346862<br><br>

origin:  http://www.e-recht24.de
</font>
