<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<font size="+3" face="arial" color="white">
<h3>What is „passauf“?</h3><br><br>

    „passauf“ is a so-called danger alert app. The basic idea of this app is to provide the user the opportunity to report conspicuousness and threats in their vicinity and so alert other users and provide corresponding information.<br>
    Some areas where the greatest potential for reporting exists have been specifically chosen.<br>
    The app was created in a way that there is a base and a pro version. Within the base version the respective user can only report threats of various natures. The base user does not have access to threats notified by other users. Access to the summary map, user profile settings and address are also restricted to the pro version. The pro user may manage his membership in the ‘personal settings’ section.<br>
    The base user may at any time upgrade to the pro version by selecting the deactivated menus and by clicking a screen hint that for the selected area the pro version is required.<br>
    The pro user may enter up to five locations within a 10 km radius in total. Upon request he will receive all alerts for these locations on his device as a push message as well as a message on the map.<br>
    There is the option to submit the location of a specific threat directly via GPS, save this location until the next usage or enter a location manually (zip code, address if available).<br>
    After establishment of the exact position the respective message can be entered. After final confirmation by the user the message will be cleared for the app and submitted via push message to the app. Afterwards the message is viewable to all users in the respective region and can also be retrieved at a later stage.<br><br>
    Individual areas may be deselected by the user. The following 11 areas are active at first use:<br>
    1.	Conspicuous individual / group<br>
    2.	Conspicuous vehicle<br>
    3.	Child in danger<br>
    4.	Animal in danger<br>
    5.	Fire<br>
    6.	Theft<br>
    7.	Burglary<br>
    8.	Arguments<br>
    9.	Pollution<br>
    10.	Lost items<br>
    11.	Other<br><br>
    
    The user can learn via the summary map in which area more threats are reported and what their nature is, e.g. a suspicious vehicle driving the same road repeatedly for several days.<br><br>
    
    The app is primarily intended to serve as a risk prevention map. The goal is that users pro-actively avoid locations that have had a certain volume of specific messages in the past. If, for example, there are continuous messages about theft in a certain neighborhood, users may elect to go for a short detour to avoid a potential hazard.<br>
    Overall it means that each user watches out and looks after his co-users and alerts his fellow human beings of potential dangers.<br><br>

    Welcome to “passauf”!
</font>
