<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<font size="+3" face="arial" color="white">
<h3>Terms of use</h3><br><br>

Provider of the "passauf" app is Omekron Computer GmbH .<br><br>

Use of the app requires that you agree to the following Terms of Use. Please read these with due care.<br><br>

Subject of the app:<br>
"Passauf" deals with the reporting of potential hazards in different areas at the appropriate location of the user. The aim is to inform and to warn other users of this app.<br>
Users of the base version can only report potential hazards. The usage of the base version is free of charge.<br><br>

"Passauf" further provides a fee version . As a pro user other areas such as overview of messages , profile management , setting of up to five addresses with a maximum radius of 10km are possible . Within the radius the set by the user he receives potential threat messages via push notifications onto his smartphone. He may choose specifically what kind of potential dangers he would like to be informed about, or whether he generally does not want to receive any push notifications.<br>
The goal of "passauf" is to reinforce the sensitivity and attention of users and thus to get a hazard-prevention , and that other users are warned of any potential hazards.<br><br>

Generals regarding the use of the app<br>
The app and its functions must not be used in an abusive manner. Please use the app only as permitted by law and in accordance with the terms of use. In violation of applicable law or the terms of use Omekron Computer GmbH reserves the right to exclude the user from using the app.<br><br>

It is expressly pointed out that within the messages no personal information, no illegal, right-wing, defamatory, discrediting or otherwise in any manner for personal- and business statements / comments may made. Likewise, it is pointed out that no pornographic, pedophilic, etc. comments must be made.<br><br>

Finally, we point out that alerts submitted with this app are only in respect of potential threats. Notifying a threat via this app does not replace your obligations to call authorities such as police or fire departments. Please notify these public authorities immediately in case of an actual danger!<br><br>

Registration<br>
The registration is free of charge. The registration takes place in the "passauf" app .<br>
For registration a valid e-mail - address, and a username and password are required.<br><br>

To download the app in the respective app store, the user needs only his personal store data.<br>
The Pro version of the app will be offered directly in the respective store and can be purchased only directly in the store.<br><br>

System requirements<br>
To use "passauf" in full, the user must have a GPS enabled smartphone and a corresponding data connection. The costs are borne by the user.<br><br>

License and assignment<br>
The "passauf" app is exclusively licensed to the user but not sold to him. Copying the functionality of "passauf" is strictly prohibited.<br><br>

Use of Pictures / photos<br>

The user warrants that he uses the function of photo uploads only in accordance with applicable local law.<br>

This means specifically:<br>
- The user is not authorized to upload copyright protected content he has not created himself or to which he has no exclusive right of use.<br>
- The user warrants that the content he provides for uploading is free of rights of third persons (copyright, trademark rights, personal rights, etc.,) or the user there holds an exclusive license / permission from the third party, or has obtained permission of the rightholder for uploading.<br>
- The user is not authorized to upload illegal, in particular punishable, pornographic, defamatory or personality infringing content. This also applies to malicious content such as viruses , trojans , etc. This functions is only available in the “Theft” area.<br><br>

Warranty and liability<br>

The Omekron Computer GmbH makes no warranties regarding the availability, reliability, functionality or fitness of the app for your purposes. There is no guarantee or warranty that this app lossless, free from corruption, attack, viruses, interference or other security breaches, and does not assume any responsibility. The user himself is responsible for backups on his device.<br><br>

Liability for intent and gross negligence is determined solely by statutory provisions. Liability for negligence is only accepted if the Omekron Computer GmbH has violated cardinal obligations.<br><br>

The Omekron Computer GmbH reserves the right to discontinue the service of " passauf " app temporarily or permanently. Likewise, the Omekron Computer GmbH reserves the right to modify and adapt the Terms of Use. The user will be informed in an appropriate manner about this.
</font>
