<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<font size="+2" face="arial">
<h3>Datenschutzerklärung &amp; Nutzungsbedingungen</h3><br><br>

<h3>Datenschutzerklärung</h3><br><br>

Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst und behandeln personenbezogenen Daten, die Sie uns über ein Kontaktformular oder per E-Mail vermitteln, vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung. Daten sind dann personenbezogen (z.B. Name, Anschrift, E-Mail, Telefonnummer, u.ä.), wenn sie eindeutig einer bestimmten natürlichen Person zugeordnet werden können. Die rechtlichen Grundlagen des Datenschutzes finden Sie im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG). Nachstehende Regelungen informieren Sie insoweit über die Art, den Umfang und Zweck der Erhebung, die Nutzung und die Verarbeitung von personenbezogenen Daten durch den Anbieter<br>
Omekron Computer GmbH<br>
Schulze Delitzsch Straße 7<br>
30938 Burgwedel<br><br>

Vertreten durch:<br>
Frank Engelhard - Geschäftsführer<br><br>

E-Mail:	info@passaufapp.de<br><br>

Wir erheben und verarbeiten personenbezogene Daten nur, soweit diese für die Begründung und inhaltliche Ausgestaltung oder Änderung des Rechtsverhältnisses erforderlich sind (Bestandsdaten). Personenbezogene Daten über die Inanspruchnahme unserer Internetseiten (Nutzungsdaten) erheben wir nicht.<br>
Wir weisen darauf hin, dass die internetbasierte Datenübertragung Sicherheitslücken aufweist, ein lückenloser Schutz vor Zugriffen durch Dritte somit unmöglich ist.<br>
Diese Datenschutzerklärung gilt für die App „passauf“ sowie für die dazugehörige Website www.passaufapp.de.<br><br>

Welche Daten werden erhoben?<br><br>

Wir benötigen den Zugriff auf den Standort Ihres Gerätes. Bei einer Anfrage erheben wir auf Ihren Wunsch hin Ihren aktuellen Standort über GPS. Durch die Speicherung des GPS Standortes kann eine Meldung schnellstmöglich ausgelöst werden. Sie haben jedoch die Option, einen Standort händisch für eine potenzielle Gefahrenmeldung einzutragen. Die Standorte der jeweiligen Meldungen werden gespeichert, um diese auf der Übersichtskarte einzusehen. Daten zu Ihrem persönlichen Standort werden nur für die Bearbeitung Ihrer Meldung genutzt. Die Übertragung Ihrer Standortdaten erfolgt über eine verschlüsselte Verbindung. Ihre Standortdaten werden nach Beendigung Ihrer Meldung anonymisiert.<br>
Die von Ihnen selbst eingetragenen Überwachungs-Adressen werden ebenfalls gespeichert, um Ihnen in dem von Ihnen angegebenen Radius Meldungen anzeigen zu können.<br><br>
Für den Zweck der Registrierung benötigt die App folgende Angaben:<br>
-	Name<br>
-	E-Mail Adresse<br>
-	Benutzername und dazugehöriges Passwort<br><br>

Zur Nutzung der Kategorie „Diebstahl“ mit zugehöriger, auf Wunsch mit hinterleg barem Foto des gestohlenen Gegenstandes, wird das Bild bis zur Löschung der Meldung gespeichert.<br>
Ein Nutzer hat die Möglichkeit, in dieser Kategorie das Kontaktformular zu nutzen. Über dieses Kontaktformular wird der Nutzer auf eigenen Wunsch hin, per E-Mail informiert, dass z.B. der Gegenstand gesichtet worden ist. Auf Wunsch des Nutzers der gemeldet hat und dem Nutzer der gesichtet hat, beiderseitiges Einverständnis schriftlich vorausgesetzt, kann der Kontakt via E-Mail hergestellt werden.<br><br>

Wie lange werden Daten gespeichert?<br><br>

Die vom Nutzer selbst eingegebenen Radius-Adressen werden nach jeweiliger Änderung der Radius-Adressdaten gelöscht, bzw. bei Beendigung der Mitgliedschaft binnen 90 Tagen.<br>
Name, E-Mail Adresse, Benutzername und das dazugehörige Passwort bleiben in der pro Version so lange aktiv, wie die Mitgliedschaft besteht. Nach Beendigung der Mitgliedschaft, werden die Daten binnen 90 Tagen gelöscht.<br>
In der Basis Version bleiben die Daten bis zur Löschung der gesamten App gespeichert.<br><br>

Serverdaten<br>

Aus technischen Gründen werden u.a. folgende Daten, die Ihr Internet-Browser an uns bzw. an unseren Webspace-Provider übermittelt:<br>
- Browsertyp und -version<br>
- verwendetes Betriebssystem<br>
- Webseite, von der aus Sie uns besuchen (Referrer URL)<br>
- Webseite, die Sie besuchen<br>
- Datum und Uhrzeit Ihres Zugriffs<br>
- Ihre Internet Protokoll (IP)-Adresse.<br><br>

Diese anonymen Daten werden getrennt von Ihren eventuell angegebenen personenbezogenen Daten gespeichert und lassen so keine Rückschlüsse auf eine bestimmte Person zu.<br><br>

Registrierungsfunktion<br><br>

Wir bieten Ihnen auf unserer Seite die Möglichkeit, sich dort zu registrieren. Die im Zuge dieser Registrierung eingegebenen Daten, die aus der Eingabemaske des Registrierungsformular ersichtlich sind, in diesem Fall, Name, E-Mail, Benutzername und ein Passwort, werden ausschließlich für die Verwendung unseres Angebots erhoben und gespeichert. Mit Ihrer Registrierung auf unserer Seite werden wir zudem Ihre IP-Adresse und das Datum sowie die Uhrzeit Ihrer Registrierung speichern. Dies dient in dem Fall, dass ein Dritter Ihre Daten missbraucht und sich mit diesen Daten ohne Ihr Wissen auf unserer Seite registriert, als Absicherung unsererseits. Eine Weitergabe an Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht.<br><br>

Kontaktmöglichkeit<br><br>

Wir bieten Ihnen auf unserer Seite die Möglichkeit, mit uns per E-Mail und/oder über ein Kontaktformular in Verbindung zu treten. In diesem Fall werden die vom Nutzer gemachten Angaben zum Zwecke der Bearbeitung seiner Kontaktaufnahme gespeichert. Eine Weitergabe an Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht.<br><br>

Kommentarmöglichkeit<br><br>

Wir bieten Ihnen auf unserer Seite die Möglichkeit, Kommentare zu den einzelnen Beiträgen zu hinterlassen. Hierbei wird die IP- Adresse des Verfassers/Anschlussinhabers gespeichert. Diese Speicherung erfolgt zu unserer Sicherheit für den Fall, dass vom Verfasser durch seinen Kommentar hierbei in Rechte Dritter eingegriffen wird und/oder widerrechtliche Inhalte abgesetzt werden. Somit besteht ein Eigeninteresse unsererseits an den gespeicherten Daten des Verfassers, zumal wir unter Umständen wegen derartigen Rechtsverletzungen belangt werden können. Eine Weitergabe an Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht.<br><br>

Einbindung von Diensten und Inhalten Dritter<br><br>

Es kann vorkommen, dass innerhalb dieses Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von YouTube, Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden. Dies setzt immer voraus, dass die Anbieter dieser Inhalte (nachfolgend bezeichnet als "Dritt-Anbieter") die IP-Adresse der Nutzer wahr nehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Jedoch haben wir keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse z.B. für statistische Zwecke speichern. Soweit dies uns bekannt ist, klären wir die Nutzer darüber auf.<br><br>


Möglichkeit der Anbindung von Fotomaterial in der Kategorie „Diebstahl“<br><br>

Der Nutzer sichert zu, dass durch das Speichern und Teilen seiner Inhalte keine Urheber-, Marken oder sonstige Rechte Dritter verletzt werden. Alle aus einer etwaigen Verletzung dieser Rechte durch die Bilddateien entstehende Folgen trägt allein der Nutzer und stellt die Omekron Computer GmbH, von Ansprüchen Dritter frei. Das gespeicherte Bildmaterial dient ausschließlich dem Zweck, einen eventuellen Gegenstand konkret darzustellen, um die Auffindung zu erleichtern. Die vom Nutzer hinterlegten Bilddateien, können durch Löschen der Meldung entfernt werden, bzw. werden nach Beendigung der Mitgliedschaft binnen 90 Tagen gelöscht.<br><br>

Auskunft/Widerruf/Löschung<br><br>

Sie können sich aufgrund des Bundesdatenschutzgesetzes bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten und deren Berichtigung, Sperrung, Löschung oder einem Widerruf einer erteilten Einwilligung unentgeltlich an uns wenden. Wir weisen darauf hin, dass Ihnen ein Recht auf Berichtigung falscher Daten oder Löschung personenbezogener Daten zusteht, sollte diesem Anspruch keine gesetzliche Aufbewahrungspflicht entgegenstehen.<br><br>

Bitte senden Sie in diesem Fall eine E-Mail an: info@passaufapp.de<br><br><br>


Quelle: Muster-Datenschutzerklärung der Anwaltskanzlei Weiß &amp; Partner<br>
Quelle: Datenschutz-Muster von Rechtsanwalt Thomas Schwenke - I LAW it<br><br><br>

<h3>Nutzungsbedingungen</h3><br><br>

Anbieter der „passauf“ App ist die Omekron Computer GmbH.<br><br>

Die Nutzung der App setzt voraus, dass Sie den nachfolgenden Nutzungsbestimmungen zustimmen. Bitte lesen Sie diese deshalb sorgfältig durch.<br><br>

Gegenstand der App<br><br>

„passauf“ befasst sich mit der Meldung von potenziellen Gefahren in verschiedenen Bereichen an dem jeweiligen Standort des Nutzers. Ziel ist es, andere Nutzer dieser App zu informieren und zu warnen.<br>
Als Basis Nutzer können ausschließlich potenzielle Gefahren gemeldet werden. Die Basis Nutzung ist kostenfrei.<br>
„passauf“ bietet des Weiteren eine kostenpflichtige Version an. Als Pro-Nutzer, sind weitere Bereiche wie Übersichten von Meldungen, Profilverwaltung, Einstellen von bis zu fünf Adressen mit einem Radius von maximal 10km möglich. Innerhalb des eingestellten Radius erhält der Pro Nutzer potenzielle Gefahrenmeldungen per Push-Mitteilungen auf sein Smartphone. Er kann dediziert auswählen, über welche Art von potenziellen Gefahren er benachrichtigt werden möchte, oder ob er generell keinerlei Push-Mitteilungen empfangen möchte.<br>
Das Ziel von „passauf“ ist es, die Sensibilität und Aufmerksamkeit der Nutzer zu stärken und somit eine Gefahren – Prävention zu erhalten, bzw. dass andere Nutzer vor eventuellen potenziellen Gefahren gewarnt werden.<br><br>

Allgemeines zur Nutzung<br><br>

Die App und deren Funktionen dürfen nicht in missbräuchlicher Art und Weise verwendet werden. Bitte nutzen Sie die App nur im gesetzlich zulässigen Rahmen und entsprechend der Nutzungsbedingungen. Bei Verstoß gegen geltendes Recht oder die Nutzungsbedingungen behält sich die Omekron Computer GmbH das Recht vor, den Nutzer von der Nutzung der App auszuschließen.<br>
Es wird ausdrücklich darauf hingewiesen, dass innerhalb der Meldungen keinerlei persönliche Informationen zu einer Person, keine rechtswidrigen, rechtsradikalen, diffamierende, diskreditierende oder sonst in irgendeiner Art und Weise für persönliche- und oder geschäftliche Äußerungen/Anmerkungen getätigt werden dürfen. Ebenso wird darauf hingewiesen, dass keinerlei pornografische, pädophile o.ä. Anmerkungen gemacht werden dürfen.<br>
Abschließend wird darauf hingewiesen, dass es sich bei den Meldungen dieser App lediglich um eventuelle Gefahren handelt. Das kontaktieren von Behörden, wie Polizei oder Feuerwehr, wird nicht durch diese App ersetzt. Bitte schalten Sie bei jeweiliger offensichtlicher Gefahr umgehend eine Behörde mit offizieller Sicherheitsfunktion (Polizei, Feuerwehr) ein.<br><br><br>


Registrierung<br><br>

Die Registrierung ist kostenfrei. Die Registrierung findet in der „passauf“ App statt.<br>
Für die Registrierung werden E-Mail – Adresse, sowie ein Benutzername und ein Passwort benötigt.<br>
Um die App im jeweiligen Store zu laden, benötigt der Nutzer ausschließlich seine Store-Daten.<br>
Die Pro Version der App wird direkt im jeweiligen Store angeboten und kann auch nur direkt im Store kostenpflichtig erworben werden.<br><br>

Systemvoraussetzungen<br><br>

Um „passauf“ vollumfänglich nutzen zu können, benötigt der Nutzer ein GPS fähiges Smartphone und eine dementsprechende Datenverbindung. Die Kosten hierfür trägt der Nutzer.<br><br>

Lizenz und Abtretung<br><br>

Die „passauf“ App wird ausschließlich an den Nutzer lizensiert und nicht verkauft. Eine Kopie der Funktionalität von „passauf“ wird strikt untersagt.<br><br>

Nutzung von  Bildern/Fotos<br><br>

Der Nutzer versichert, dass er die Funktion des Foto-Uploades nur entsprechend den geltenden gesetzlichen Regelungen in Anspruch nimmt.<br><br>

Dies bedeutet im Einzelnen:<br>
o	Der Nutzer ist nicht berechtigt, urheberrechtlich geschützte Inhalte hochzuladen, die er nicht selbst geschaffen oder an denen er kein ausschließliches Nutzungsrecht hat.<br>
o	Der Nutzer versichert, dass die von ihm zum Upload gestellten Inhalte frei von Rechten Dritter (Urheberrecht, Markenrechte, Persönlichkeitsrechte, etc.) sind, bzw. dem Nutzer eine ausschließliche Lizenz/Gestattung durch den Dritten vorliegt, oder ihm die Erlaubnis des/der Rechteinhaber zur Veröffentlichung erteilt wurde.<br>
o	Der Nutzer ist nicht berechtigt rechtswidrige, insbesondere strafbare, pornografische, verunglimpfende oder persönlichkeitsrechtsverletzende Inhalte hochzuladen; dies gilt ebenso für schädliche Inhalte wie Viren, Trojaner, u.ä.<br><br>

Diese Funktion steht ausschließlich im Meldungs-Bereich „Diebstahl“ zur Verfügung.<br><br><br>


Gewährleistung und Haftung<br><br>

Die Omekron Computer GmbH übernimmt keine Garantien hinsichtlich Verfügbarkeit, Zuverlässigkeit, Funktionalität oder Eignung der App für Ihre Zwecke. Sie garantiert, erklärt oder gewährleistet nicht, dass diese App verlustfrei, frei von Korruption, angriffen, Viren, Störungen oder anderen Sicherheitsverletzungen ist, und übernimmt diesbezüglich keinerlei Haftung. Der Nutzer selbst ist verantwortlich für Backups am eigenen Gerät.<br>
Eine Haftung für Vorsatz und grobe Fahrlässigkeit richtet sich allein nach den gesetzlichen Vorschriften. Eine Haftung für Fahrlässigkeit wird nur übernommen, wenn die Omekron Computer GmbH Kardinalspflichten verletzt hat.<br>
Die Omekron Computer GmbH behält sich das Recht vor, den Service der „passauf“ App vorübergehend oder vollständig einzustellen. Ebenso behält sich die Omekron Computer GmbH das Recht vor, die Nutzungsbedingungen zu ändern und anzupassen. Der Nutzer wird in geeigneter Weise darüber informiert.<br><br><br>
</font>
