<font size="+3" face="arial" color="white">
<p><strong>Hilfe</strong></p>
<p><strong>Was kann gemeldet werden?</strong></p>
<p><strong>1. Sie sehen eine auffällige Person oder Gruppe?</strong><br />
Der Mensch bemerkt unterschiedliche Merkmale. Dinge, die ein anderer Nutzer als normal empfindet, sieht ein weiterer Nutzer als auffällig. Eine auffällige Person oder Gruppe kann z.B. eine schwankende, alkoholisierte, ungepflegte Erscheinung haben. Gleiches gilt für mehrere Personen, die sich z.B. an einem Ort aufhalten, wo diese in der Regel nicht vermutet werden. Ob es sich hierbei um eine Gruppe Heranwachsender an einem Spielplatz handelt, oder um eine Gruppe, die sich nachts an einem Freibad aufhält, ist reine Ermessensache des Nutzers. Hier werden nur Beispiele veranschaulicht.</p>
<p><strong>2. Sie sehen ein auffälliges Fahrzeug?</strong><br />
Das Fahrzeug welches dem Nutzer auffällig vorkommt, kann z.B. ein auswärtiges Kennzeichen haben, ggf. ist das Fahrzeug stark verschmutzt / verbeult, so dass es die Aufmerksamkeit auf sich zieht. Vielleicht fährt genau dieses Fahrzeug gerade zum X-ten Mal die Straße auf und ab. Fazit ist jedoch, es ist somit auffällig.</p>
<p><strong>3. Gefahrenmeldung &bdquo;Kind&ldquo;</strong><br />
In diesem Fall soll der Gefahrenmelder dazu dienen, wenn z.B. beobachtet wird, dass ein Kind von einer vermeintlich fremden Person angesprochen, fotografiert o.ä. wird. Die Gefahrenmeldung soll dazu dienen, ggf. den Kontakt zum eigenen oder bekannten Kind herzustellen, um mögliche Gefahren zu umgehen. Hier sollen keine Mutmaßungen angestellt werden.</p>
<p><strong>4. Gefahrenmeldung &bdquo;Diebstahl&ldquo;</strong><br />
Stellen Sie sich vor, Sie sind auf einem Volksfest, Badesee, Konzert, Kino o.ä. Sie beobachten, dass eine Person einer anderen eine Tasche entwendet, in die Tasche greift, ein Fahrradschloss &bdquo;bearbeitet&ldquo; oder andere in Ihren Augen unrechtmäßige Zueignung begeht.</p>
<p><strong>5. Gefahrenmeldung &bdquo;Tier in Gefahr&ldquo;</strong><br />
Sie beobachten, dass ein Hundehalter sehr aggressiv mit seinem Tier umgeht, das eine Katze seit Tagen miauend im Baum sitzt, ein Tier &bdquo;verwahrlost&ldquo; aussieht. Ebenso, dass ein Tier bei hohen Temperaturen im Auto sitzt? Alle Bereiche, die in Ihren Augen eine Gefahr für Leib und Leben eines jeden Tieres bieten, gehören in eine Meldung in diesem Bereich.</p>
<p><strong>6. Gefahrenmeldung &bdquo;Einbruch&ldquo;</strong><br />
Sie beobachten, dass eine Person oder eine Gruppe sich unrechtmäßig Zugang auf ein Grundstück, in ein Haus, ein Lokal o.ä. verschafft, oder ggf. versucht an Inhalte aus einem KFZ zu kommen.</p>
<p><strong>7. Gefahrenmeldung &bdquo;Streitigkeiten&ldquo;</strong><br />
Sie beobachten einen lautstarken Streit bei dem Sie nicht verifizieren können, wieviel Gewaltpotenzial o.ä. entsteht oder bereits entstanden ist? Dann sollten Sie diese Art der Meldung nutzen.</p>
<p><strong>8. Gefahrenmeldung &bdquo;Umweltverschmutzung&ldquo;</strong><br />
Sie werden Zeuge eines unrechtmäßigen Abladens von offensichtlichen Müll? Oder Sie gehen im Wald o.ä. spazieren und am Wegesrand erwartet Sie Bauschutt? Wir haben nur eine Welt und sollten diese schützen. Hier geht die Gefahr im Zweifelsfall davon aus, was jeweils abgeladen oder entsorgt wurde. Auch giftige Chemikalien könnten dazu gehören. Beim nächsten Familienausflug steht hier vielleicht ein Kind in dem Unrat und vergiftet sich dabei.</p>
<p><strong>9. Gefahrenmeldung &bdquo;Feuer&ldquo;</strong><br />
Egal ob Feuer an einer Wiese, an einem Haus oder an einem Auto. Feuer kann grundsätzlich lebensbedrohlich für Mensch und Tier sein. Es muss nicht das Feuer an sich sein, es reichen giftige Dämpfe. Durch die Meldung eines Feuers können Sie andere Nutzer darauf hinweisen z.B. Fenster und Türen aufgrund giftiger Dämpfe geschlossen zu halten, sie einen gewissen Bereich meiden o.ä.</p>
<p><strong>10.Verlorenes</strong><br />
Sicher kann es Vorkommen das Sie etwas versehentlich verloren haben. Unter der Kategorie &bdquo;Verlorenes&ldquo; haben Sie die Möglichkeit eine Meldung zu verfassen, in der ihr verlorener Gegenstand beschrieben wird. Andere Benutzer können sich beim auffinden gefundener Gegenstände melden.</p>
<p><strong>11. Gefahrenmeldung &bdquo;sonstiges&ldquo;</strong><br />
Wie bereits erwähnt, hat ein Mensch unterschiedliche Empfindungen. Was für den einen ganz normal wirkt, ist für einen anderen bedrohlich. Hier können Sie Gefahren melden, welche nicht unter die Punkt 1-9 fallen. Nichts ist unmöglich, wie uns das Leben lehrt.</p>
<p>&nbsp;</p>
<p>Es wird noch einmal ausdrücklich darauf hingewiesen, dass innerhalb der Meldungen keinerlei persönliche Informationen zu einer Person, keine rechtswidrigen, rechtsradikalen, diffamierende oder sonst in irgendeiner Art und Weise für persönliche- und oder geschäftliche Äußerungen/Anmerkungen getätigt werden dürfen. Ebenso wird darauf hingewiesen, dass keinerlei pornografische, pädophile o.ä. Anmerkungen gemacht werden dürfen.<br />
Abschließend wird darauf hingewiesen, dass es sich bei den Meldungen dieser App lediglich um eventuelle Gefahren handelt. Das kontaktieren von Behörden, wie Polizei oder Feuerwehr, wird nicht durch diese App ersetzt. Bitte schalten Sie bei jeweiliger offensichtlicher Gefahr umgehend eine Behörde mit offizieller Sicherheitsfunktion (Polizei, Feuerwehr) ein.</p>
<p><strong>App-Bereich &bdquo;Meldungen&ldquo;</strong><br />
Hier finden Sie die Meldefunktionalität, in der sich nach Standortbestimmung ein Auswahlmenü der eventuellen Gefahr öffnet. Achtung, bei inaktiver App, können auch keinerlei Meldungen empfangen werden. Zusätzlich findet der Nutzer in der Übersicht der aktuellen Meldungen, in den Bereichen Kategorie &bdquo;Diebstahl&ldquo; und &bdquo;Verlorenes&ldquo;, die Möglichkeit, einen Gegenstand als &bdquo;gefunden&ldquo; zu deklarieren, um den Ursprungsmelder zu informieren.</p>
<p><strong>App-Bereich &bdquo;Einstellungen&ldquo;</strong><br />
Der Nutzer kann an dieser Stelle bis zu vier Adressen hinterlegen. Die Adressen können mit einem Radius von bis zu 10km versehen werden. In der Übersicht sind die vom Nutzer gemeldeten potenziellen Gefahren hinterlegt.</p>
<p><strong>App-Bereich &bdquo;Karte&ldquo;</strong><br />
Auf dem Kartenbereich von &bdquo;passauf&ldquo; öffnet sich eine Map. Hier ist ersichtlich wo welche Gefahr gemeldet worden ist. Der Nutzer kann zwischen zwei Map-Varianten wählen, Standard und Satellit.</p>
<p>&nbsp;</p>
</font>
