<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<font size="+3" face="arial" color="white">
<h3>Impressum</h3><br><br>
Angaben gemäß § 5 TMG:<br><br>

Omekron Computer GmbH<br>
Schulze Delitzsch Straße 7<br>
30938 Burgwedel<br>
<br>
Vertreten durch:<br>
Frank Engelhard - Geschäftsführer<br><br>

Kontakt:<br>
Telefon:	051399529018<br>
Telefax:	051399529198<br>
E-Mail:	info@omekron.de<br>
<br>
Registereintrag:<br>
Eintragung im Handelsregister.<br>
Registergericht:Amtsgericht Hannover<br>
Registernummer: HRB 210807<br>
<br>
Umsatzsteuer-ID:<br>
Umsatzsteuer-Identifikationsnummer gemäß §27 a<br>
Umsatzsteuergesetz:<br>
DE293346862<br>
<br>
Quelle: http://www.e-recht24.de
</font>
