<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<font size="+3" face="arial" color="white">
<h3>Was ist „passauf“?</h3><br><br>

„passauf“ ist eine sogenannte Gefahrenmelder-App. Der Grundgedanke zu dieser App war, dass Nutzer die Möglichkeit haben sollen, Auffälligkeiten / Gefahren in Ihrer Umgebung zu melden und somit andere Nutzer zu warnen und dementsprechende Informationen zur Verfügung zu stellen.<br>
Es wurden einige Bereiche explizit ausgewählt, bei denen das größte Potenzial zur Meldung besteht.<br>
Die App wurde so gestaltet, dass es eine Basis und eine Pro Version gibt. Innerhalb der Basis Version kann der jeweilige Nutzer ausschließlich Gefahren verschiedenster Art melden.<br>
Der Basis Nutzer erhält keinen Zugriff auf getätigte Meldungen anderer Nutzer. Auch der Einblick auf die Übersichtskarte, Einstellung des Mitgliedprofiles oder Adresse bleibt der Pro Version vorenthalten.<br>
Der Basis Nutzer kann durch anwählen der „gesperrten“ Menüs jederzeit zur Pro Version upgraden, da der Hinweis erscheint, dass für den jeweiligen Bereich eine Pro Version vorhanden sein muss.<br>
Der Pro Nutzer kann in Summe bis zu fünf Adressen mit einem Radius von bis zu 10km einstellen. Er erhält auf Wunsch alle aus diesem Bereich stammenden Meldungen auf sein Smartphone. Zum einen als Push-Mitteilung und zum anderen in der gespeicherten Karte mit Meldungen.<br>
Es besteht die Möglichkeit den Standort einer potenziellen Gefahr direkt per GPS Standort zu übermitteln, diesen bis zur nächsten Nutzung zu speichern, oder einen Standort händisch (PLZ, Ort, wenn vorhanden Adresse) einzugeben.<br>
Nach der Standortbestimmung kann die jeweilige Meldung eingegeben werden. Diese Meldung wird nach letzter Bestätigung des Nutzers für die App freigegeben und per Push Mitteilung an die App gesendet. Im Anschluss daran ist die Meldung für alle Nutzer im jeweiligen eingestellten Radius sichtbar und auch nachträglich abrufbar.<br>

Einzelne Bereiche können abgewählt werden. Alle folgenden 10 Bereiche sind bei erster Nutzung aktiv:<br>
1.	Auffällige Person / Gruppe<br>
2.	Auffälliges Fahrzeug<br>
3.	Kind<br>
4.	Diebstahl<br>
5.	Tier in Gefahr<br>
6.	Einbruch<br>
7.	Streitigkeiten<br>
8.	Umweltverschmutzung<br>
9.	Feuer<br>
10.	Sonstiges<br>
11. Verlorenes<br><br>

Über eine Übersichtskarte erfährt der Nutzer, in welchem Bereich häufiger Meldungen auftreten und welcher Art diese sind. Zum Beispiel ein auffälliges Fahrzeug welches seit Tagen die gleiche Straße abfährt.<br>
In seinen Profileinstellungen, genannt „Einstellungen“, kann er seine Mitgliedschaft verwalten.<br>
Diese App soll in erster Linie zur Gefahren-Prävention dienen. Es wird versucht, dass Nutzer z.B. Orte präventiv meiden, welche ein hohes Potenzial an bestimmten Meldungen in der Vergangenheit aufgewiesen haben. Beispielsweise wird seit einigen Tagen vermehrt eine Meldung innerhalb einer Bestimmten Zeitspanne ein Stadtviertel benannt. Hier entscheidet der Nutzer natürlich selbst, ob er nicht lieber einen Umweg machen möchte, um einer eventuellen Gefahr aus dem Weg zu gehen.<br>
Übergeordnet bedeutet es, dass jeder Nutzer ein klein wenig auf seinen Mit-Nutzer aufpasst und andere Mitmenschen vor potenziellen Gefahren warnt.
<br><br>
Willkommen bei „passauf“
</font>
