<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<font size="+3" face="arial" color="white">
<h3>Nutzungsbedingungen</h3><br><br>

Anbieter der „passauf“ App ist die Omekron Computer GmbH.<br><br>

Die Nutzung der App setzt voraus, dass Sie den nachfolgenden Nutzungsbestimmungen zustimmen. Bitte lesen Sie diese deshalb sorgfältig durch.<br><br>

Gegenstand der App<br><br>

„passauf“ befasst sich mit der Meldung von potenziellen Gefahren in verschiedenen Bereichen an dem jeweiligen Standort des Nutzers. Ziel ist es, andere Nutzer dieser App zu informieren und zu warnen.<br>
Als Basis Nutzer können ausschließlich potenzielle Gefahren gemeldet werden. Die Basis Nutzung ist kostenfrei.<br>
„passauf“ bietet des Weiteren eine kostenpflichtige Version an. Als Pro-Nutzer, sind weitere Bereiche wie Übersichten von Meldungen, Profilverwaltung, Einstellen von bis zu fünf Adressen mit einem Radius von maximal 10km möglich. Innerhalb des eingestellten Radius erhält der Pro Nutzer potenzielle Gefahrenmeldungen per Push-Mitteilungen auf sein Smartphone. Er kann dediziert auswählen, über welche Art von potenziellen Gefahren er benachrichtigt werden möchte, oder ob er generell keinerlei Push-Mitteilungen empfangen möchte.<br>
Das Ziel von „passauf“ ist es, die Sensibilität und Aufmerksamkeit der Nutzer zu stärken und somit eine Gefahren – Prävention zu erhalten, bzw. dass andere Nutzer vor eventuellen potenziellen Gefahren gewarnt werden.<br><br>

Allgemeines zur Nutzung<br><br>

Die App und deren Funktionen dürfen nicht in missbräuchlicher Art und Weise verwendet werden. Bitte nutzen Sie die App nur im gesetzlich zulässigen Rahmen und entsprechend der Nutzungsbedingungen. Bei Verstoß gegen geltendes Recht oder die Nutzungsbedingungen behält sich die Omekron Computer GmbH das Recht vor, den Nutzer von der Nutzung der App auszuschließen.<br>
Es wird ausdrücklich darauf hingewiesen, dass innerhalb der Meldungen keinerlei persönliche Informationen zu einer Person, keine rechtswidrigen, rechtsradikalen, diffamierende, diskreditierende oder sonst in irgendeiner Art und Weise für persönliche- und oder geschäftliche Äußerungen/Anmerkungen getätigt werden dürfen. Ebenso wird darauf hingewiesen, dass keinerlei pornografische, pädophile o.ä. Anmerkungen gemacht werden dürfen.<br>
Abschließend wird darauf hingewiesen, dass es sich bei den Meldungen dieser App lediglich um eventuelle Gefahren handelt. Das kontaktieren von Behörden, wie Polizei oder Feuerwehr, wird nicht durch diese App ersetzt. Bitte schalten Sie bei jeweiliger offensichtlicher Gefahr umgehend eine Behörde mit offizieller Sicherheitsfunktion (Polizei, Feuerwehr) ein.<br><br><br>


Registrierung<br><br>

Die Registrierung ist kostenfrei. Die Registrierung findet in der „passauf“ App statt.<br>
Für die Registrierung werden E-Mail – Adresse, sowie ein Benutzername und ein Passwort benötigt.<br>
Um die App im jeweiligen Store zu laden, benötigt der Nutzer ausschließlich seine Store-Daten.<br>
Die Pro Version der App wird direkt im jeweiligen Store angeboten und kann auch nur direkt im Store kostenpflichtig erworben werden.<br><br>

Systemvoraussetzungen<br><br>

Um „passauf“ vollumfänglich nutzen zu können, benötigt der Nutzer ein GPS fähiges Smartphone und eine dementsprechende Datenverbindung. Die Kosten hierfür trägt der Nutzer.<br><br>

Lizenz und Abtretung<br><br>

Die „passauf“ App wird ausschließlich an den Nutzer lizensiert und nicht verkauft. Eine Kopie der Funktionalität von „passauf“ wird strikt untersagt.<br><br>

Nutzung von  Bildern/Fotos<br><br>

Der Nutzer versichert, dass er die Funktion des Foto-Uploades nur entsprechend den geltenden gesetzlichen Regelungen in Anspruch nimmt.<br><br>

Dies bedeutet im Einzelnen:<br>
o	Der Nutzer ist nicht berechtigt, urheberrechtlich geschützte Inhalte hochzuladen, die er nicht selbst geschaffen oder an denen er kein ausschließliches Nutzungsrecht hat.<br>
o	Der Nutzer versichert, dass die von ihm zum Upload gestellten Inhalte frei von Rechten Dritter (Urheberrecht, Markenrechte, Persönlichkeitsrechte, etc.) sind, bzw. dem Nutzer eine ausschließliche Lizenz/Gestattung durch den Dritten vorliegt, oder ihm die Erlaubnis des/der Rechteinhaber zur Veröffentlichung erteilt wurde.<br>
o	Der Nutzer ist nicht berechtigt rechtswidrige, insbesondere strafbare, pornografische, verunglimpfende oder persönlichkeitsrechtsverletzende Inhalte hochzuladen; dies gilt ebenso für schädliche Inhalte wie Viren, Trojaner, u.ä.<br><br>

Diese Funktion steht ausschließlich im Meldungs-Bereich „Diebstahl“ zur Verfügung.<br><br><br>


Gewährleistung und Haftung<br><br>

Die Omekron Computer GmbH übernimmt keine Garantien hinsichtlich Verfügbarkeit, Zuverlässigkeit, Funktionalität oder Eignung der App für Ihre Zwecke. Sie garantiert, erklärt oder gewährleistet nicht, dass diese App verlustfrei, frei von Korruption, angriffen, Viren, Störungen oder anderen Sicherheitsverletzungen ist, und übernimmt diesbezüglich keinerlei Haftung. Der Nutzer selbst ist verantwortlich für Backups am eigenen Gerät.<br>
Eine Haftung für Vorsatz und grobe Fahrlässigkeit richtet sich allein nach den gesetzlichen Vorschriften. Eine Haftung für Fahrlässigkeit wird nur übernommen, wenn die Omekron Computer GmbH Kardinalspflichten verletzt hat.<br>
Die Omekron Computer GmbH behält sich das Recht vor, den Service der „passauf“ App vorübergehend oder vollständig einzustellen. Ebenso behält sich die Omekron Computer GmbH das Recht vor, die Nutzungsbedingungen zu ändern und anzupassen. Der Nutzer wird in geeigneter Weise darüber informiert.
</font>
